# unless otherwise specified, hooks run on push only
default_stages: [push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        stages: [push]
      - id: end-of-file-fixer
        stages: [push]
  # vscode & the cli uses autoflake/black/isort too so it has been installed into the virtualenv
  - repo: local
    hooks:
      - id: autoflake
        name: autoflake
        entry: .venv/bin/autoflake
        args: [--in-place,--recursive,--remove-all-unused-imports,--ignore-init-module-imports]
        language: system
        types: [python]
      - id: black
        name: black
        entry: .venv/bin/black
        language: system
        types: [python]
      - id: isort
        name: isort
        entry: .venv/bin/isort
        language: system
        types: [python]
  - repo: https://github.com/myint/docformatter
    rev: v1.5.0
    hooks:
      - id: docformatter
        args: [--in-place]
  # vscode/the cli uses flake8 too so it has been installed into the virtualenv
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: .venv/bin/flake8
        language: system
        types: [python]
  # these hooks require the project's virtualenv
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: make pyright
        # run on all files
        pass_filenames: false
        language: system
        types: [python]
      - id: test
        name: test
        entry: make test
        # run on all files
        pass_filenames: false
        language: system
        types: [python]
