[project]
name = "aec-cli"
description = "AWS EC2 CLI"
dynamic = ["version"]
readme = "README.md"
license = { file = "LICENSE" }
keywords = ["AWS", "EC2", "command line", "cli"]
classifiers = ["License :: OSI Approved :: MIT License"]
requires-python = ">=3.6"
dependencies = [
    "boto3==1.24.41",
    "importlib_resources==5.9.0",
    "pytoml==0.1.21",
    "pytz==2022.1",
    "requests==2.28.1",
    "rich==12.5.1",
    "typing_extensions==4.3.0",
]

[project.optional-dependencies]
dev = [
    "autoflake~=1.7",
    "black~=22.6",
    "build~=0.7",
    "boto3-stubs[ec2,compute-optimizer,ssm,s3]==1.24.41",
    "cogapp~=3.3",
    "darglint~=1.8",
    "docformatter[toml]~=1.5.0",
    "isort~=5.10",
    "flake8~=4.0",
    "flake8-annotations~=2.9",
    "flake8-colors~=0.1",
    "moto[ec2]==3.1.16",
    "pre-commit~=2.20",
    "pyfakefs~=4.6",
    "pytest~=7.1",
    "pytest-mock~=3.8",
    "twine~=4.0",
]

[project.scripts]
aec = "aec.main:main"

[project.urls]
homepage = "https://github.com/seek-oss/aec"

[build-system]
requires = ["setuptools", "wheel"]

[tool.setuptools.dynamic]
version = { attr = "aec.__version__" }

[tool.autoflake]
in-place = true
recursive = true
remove-all-unused-imports = true
ignore-init-module-imports = true

[tool.black]
# use PyCharm default line length of 120
line-length = 120

[tool.docformatter]
pre-summary-newline = true
recursive = true
wrap-descriptions = 120
wrap-summaries = 120

[tool.isort]
# make isort compatible with black
line_length = 120
profile = "black"
skip = [".tox", "dist", "node_modules", ".venv", "build", ".git", "typings"]
