[project]
name = "aec-cli"
description = "AWS EC2 CLI"
dynamic = ["version"]
readme = "README.md"
license = { file = "LICENSE" }
keywords = ["AWS", "EC2", "command line", "cli"]
classifiers = ["License :: OSI Approved :: MIT License"]
requires-python = ">=3.6"
dependencies = [
    "boto3==1.24.41",
    "importlib_resources==5.9.0",
    "pytoml==0.1.21",
    "pytz==2022.1",
    "requests==2.28.1",
    "rich==12.5.1",
    "typing_extensions==4.3.0",
]

[project.optional-dependencies]
dev = [
    "autoflake~=1.7",
    "black~=22.6",
    "build~=0.7",
    "boto3-stubs[ec2,compute-optimizer,ssm,s3]==1.24.41",
    "cogapp~=3.3",
    "darglint~=1.8",
    "docformatter[toml]~=1.5.0",
    "moto[ec2]==3.1.16",
    "pre-commit~=2.20",
    "pyfakefs~=4.6",
    "pytest~=7.1",
    "pytest-mock~=3.8",
    "ruff~=0.0.129",
    "twine~=4.0",
]

[project.scripts]
aec = "aec.main:main"

[project.urls]
homepage = "https://github.com/seek-oss/aec"

[build-system]
requires = ["setuptools", "wheel"]

[tool.setuptools.dynamic]
version = { attr = "aec.__version__" }

[tool.autoflake]
in-place = true
recursive = true
remove-all-unused-imports = true
ignore-init-module-imports = true

[tool.black]
# use PyCharm default line length of 120
line-length = 120

[tool.docformatter]
pre-summary-newline = true
recursive = true
wrap-descriptions = 120
wrap-summaries = 120

[tool.ruff]
line-length = 120

# rules to enable/ignore
select = [
    # pyflakes
    "F",
    # pycodestyle
    "E",
    "W",
    # type annotations
    "ANN",
    # pep8-naming
    "N",
    # bugbear
    "B",
    # isort
    "I"
]
ignore = [
    # allow untyped self and cls args, and no return type from dunder methods
    "ANN101",
    "ANN102",
    "ANN204",
    # allow == True because pandas dataframes overload equality
    "E712",
]
# first-party imports for sorting
src = ["src", "tests"]

fix = true

# imports in __init__.py don't need to be used in __init__.py
# test functions don't need return types
# main.py can have long lines
per-file-ignores = { "__init__.py" = [
    "F401",
], "tests/*" = [
    "ANN201",
    "ANN202",
], "src/aec/main.py" = [
    "E501",
] }

target-version = "py39"

[tool.ruff.flake8-annotations]
allow-star-arg-any = true
