# example config, update this for your account and cp to ~/.asak/config

default_profile = "syd"
owner = "alice@little.co"

[syd]
region = "ap-southeast-2"
key_name = "my-key"
iam_instance_profile_arn = "arn:aws:iam::123456789012:instance-profile/ec2_my_default"
vpc = { name = "public A", subnet = "subnet-12345678",  security_group = "sg-12345678901234567" }
