name: Python application

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Cache virtualenv
      uses: actions/cache@v2
      with:
        path: ~/.virtualenvs
        key: ${{ runner.os }}-venv-${{ hashFiles('**/requirements.*') }}
    - name: Install requirements
      run: |
        make install
    - name: Lint
      run: |
        make lint
    - name: Test
      run: |
        make test