name: CI

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        # so marceloprado/has-changed-path@v1 can detect changes
        fetch-depth: 2
    - name: Set up Python 3.7
      id: setup-python
      uses: actions/setup-python@v4
      with:
        python-version: 3.7
    - name: Cache virtualenv
      id: cache-venv
      uses: actions/cache@v3
      with:
        path: .venv
        key: ${{ runner.os }}-py${{ steps.setup-python.outputs.python-version }}-venv-${{ hashFiles('pyproject.toml') }}
    - name: make install
      if: steps.cache-venv.outputs.cache-hit != 'true'
      run: make install
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
    - name: make hooks
      run: make hooks
    - name: Make and test distribution
      run: make dist test-dist
    - name: Check for version bump
      if: github.ref == 'refs/heads/master'
      uses: marceloprado/has-changed-path@v1
      id: version-bump
      with:
        paths: src/aec/__init__.py
    - name: Upload dist to pypi
      if: steps.version-bump.outputs.changed == 'true'
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: make publish
    - name: Read version
      if: steps.version-bump.outputs.changed == 'true'
      run: echo "version=$(.venv/bin/python -c 'import aec;print(aec.__version__)')" >> $GITHUB_ENV
    - name: Tag commit
      if: steps.version-bump.outputs.changed == 'true'
      uses: tvdias/github-tagger@v0.0.2
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        tag: "${{ env.version }}"
    # - name: Setup tmate session
    #   if: ${{ failure() }}
    #   uses: mxschmitt/action-tmate@v3
