name: Python application

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      id: setup-python
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Cache virtualenv
      uses: actions/cache@v2
      with:
        path: ~/.virtualenvs
        key: ${{ runner.os }}-py${{ steps.setup-python.outputs.python-version }}-venv-${{ hashFiles('setup.py') }}
    - uses: pre-commit/action@v2.0.0
      with:
        extra_args: --all-files --hook-stage push
